.Roadmap {
    padding: 12rem 0 0;

    @include respond-to(sm) {
        padding: 8rem 0 0;
    }

    &-title {

        font-family: 'Lato', sans-sans-serif;
        font-weight: bold;
        @include fontsize(40, 50);
        margin-bottom: 2rem;
    }

    &-accroche {
        background: rgba(122,71,58,0.7);
        padding-bottom: 25px ;
        padding-top: 25px ;
        border-radius: 2%;
        font-family: 'Lato', sans-sans-serif;
        font-weight: bold;
        @include fontsize(20, 28);
        margin-bottom: 4rem;
        &>a {
            color: #4be34b;
        }
        @include respond-to(sm) {
        }
    }

    .Timeline {
        margin-bottom: 12rem;

        @include respond-to(sm) {
            margin-bottom: 8rem;
        }
    }
}
